.info {
    text-align: center;

    h2 {
        text-transform: capitalize;
        margin: 50px 0 0 0;
        font-size: 22px;
        color: #817F8A;
    }
    .static {
        text-align: right;
        font-weight: bold;
    }

    .dynamic {
        text-align: left;
    }
    span {
        text-transform: capitalize;
        font-size: 18px;
        margin-top: 25px;
    }
}