.twqs {
    text-align: center;
    img{
        display: inline-block;
        height: 100%;
        width: 100%;
        margin-top: 20px;
        border: solid 1px #DDDDDF;
        box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);

        }

    h2 {
        margin-top: 50px;
        text-transform: capitalize;
    }

    h3 {
        margin-top: 20px;
    }
}